.dockerignore
node_modules
npm-debug.log
Dockerfile
lint-report.xml
__tests__
.gitignore
.next
*.md
ci-cd
jest*
.git
.*lint*
.travis.yml
.env
.env.example
.shopify-cli.yml
.editorconfig
.dependabot
.prettierignore