# Environment Configuration
.env

# Dependency directory
node_modules

# Test coverage directory
coverage

# lint report
lint-report.xml

# Ignore Apple macOS Desktop Services Store
.DS_Store

# Logs
logs
*.log

# ngrok tunnel file
config/tunnel.pid

# next build output
.next/
/output/junit/junit.xml
/ci-cd/infrastructure/output/junit/junit.xml